header{
    background-color: #29C2FF;
    color: white;
}
header h1{
    float: left;
}


header ul{

    float:right;
    color: black;
    padding: 1%;
    font-size: 1.2em;
}
header li{
    list-style-type: none;
    display:  inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    height:40px;
}
header li:first-child{
    border-right: 2px dashed white;
}
header li a{
    display: block;
    color:white;
}

footer{
    text-align: center;
    color: white;
    background-color: #29C2FF;
}