{% extends 'basic_view.twig' %}

{% block content %}





    <div class="testbox">
        <h1>Prijava</h1>

        <form method="post">

            <label id="icon" for="name"><i class="icon-user "></i></label>
            <input type="text" name="name" id="name" placeholder="KorisniÄko ime" required/>
            <label id="icon" for="name"><i class="icon-key "></i></label>
            <input type="password" name="password" id="password" placeholder="Lozinka" required/>

            </br>


            </br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Spoji se</button>
            <a href="#" class="button" type="submit">Prijavi se</a>
        </form>
    </div>

{% endblock %}