{% extends 'basic_view.twig' %}

{% block content %}





    <div class="testbox">
        <h1>{{ prijava.prijava }}</h1>

        <form method="post">

            <label id="icon" for="name"><i class="icon-user "></i></label>
            <input type="text" name="name" id="name" placeholder="{{ prijava.korisnicko_ime }}" required/>
            <label id="icon" for="name"><i class="icon-key "></i></label>
            <input type="password" name="password" id="password" placeholder="{{ prijava.lozinka }}" required/>

            </br>


            </br>

            <button id="prijava-gumb" type="submit">{{ prijava.prijavi_se }}</button>
           
        </form>
    </div>

{% endblock %}